In [11]:
#importar o arquivo 
import pandas as pd
import io
arquivo = pd.read_csv(r'/Users/fernanda/Documents/repos/ftc/arquivos_baixados/train.csv')

#transformar o arquivo em um DataFrame
df = pd.DataFrame(arquivo)

#cópia do arquivo original
df1 = df.copy()

#verificando o tipo de variável de cada coluna
df1.dtypes

#####limpeza dos dados####

#Excluindo 'NaN ' da coluna Age:
linhas_selecionadas = df1['Delivery_person_Age'] != 'NaN '
#Localizando as linhas que contém NaN
#df1 = df1.loc[linhas, colunas]
df1 = df1.loc[linhas_selecionadas, :].copy()

#Colunas que estão com type incorreto de acordo com as linhas:
#Delivery_person_Age - conversão de Object(str) para int
#coluna Delivery_person_Ratings - conversão de Object(str) para float
#coluna Order_Date - conversão de Object(str) para data
#coluna multiple_deliveries - conversão de Object(str) para int

#conversões:
#Delivery_person_Age - conversão de Object(str) para int
df1['Delivery_person_Age'] = df1['Delivery_person_Age'].astype(int)

#coluna Delivery_person_Ratings - conversão de Object(str) para float
df1['Delivery_person_Ratings'] = df1['Delivery_person_Ratings'].astype(float)

#coluna Order_Date - conversão de Object(str) para data
df1['Order_Date'] = pd.to_datetime( df1['Order_Date'], format = '%d-%m-%Y' )


###Excluindo 'NaN ' da coluna 'multiple_deliveries':
linhas_selecionadas = df1['multiple_deliveries'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :]

#coluna multiple_deliveries - conversão de Object(str) para int
df1['multiple_deliveries'] = df1['multiple_deliveries'].astype(int)
df1.dtypes

ID                                     object
Delivery_person_ID                     object
Delivery_person_Age                     int64
Delivery_person_Ratings               float64
Restaurant_latitude                   float64
Restaurant_longitude                  float64
Delivery_location_latitude            float64
Delivery_location_longitude           float64
Order_Date                     datetime64[ns]
Time_Orderd                            object
Time_Order_picked                      object
Weatherconditions                      object
Road_traffic_density                   object
Vehicle_condition                       int64
Type_of_order                          object
Type_of_vehicle                        object
multiple_deliveries                     int64
Festival                               object
City                                   object
Time_taken(min)                        object
dtype: object

In [12]:
#1
len(df1)

42805

In [46]:
#1 
df1.shape[0]

42805

In [19]:
#2
len(df1['Delivery_person_ID'].unique())

1320

In [47]:
#2
df1['Delivery_person_ID'].nunique()

1320

In [48]:
#3
df1.sort_values('Delivery_person_Age', ascending=False)
maior_idade = df1.sort_values(by='Delivery_person_Age', ascending=False)
maior_idade['Delivery_person_Age'].max()

50

In [32]:
#3
df1.sort_values(by='Delivery_person_Age', ascending=False)
maior_idade = df1.sort_values(by='Delivery_person_Age', ascending=False)
maior_idade['Delivery_person_Age'].min()

15

In [36]:
#4
df1.sort_values(by='Delivery_person_Age', ascending=False).min()

ID                                         0x1000
Delivery_person_ID                 AGRRES010DEL01
Delivery_person_Age                             15
Delivery_person_Ratings                        1.0
Restaurant_latitude                     -30.902872
Restaurant_longitude                    -88.366217
Delivery_location_latitude                    0.01
Delivery_location_longitude                   0.01
Order_Date                     2022-02-11 00:00:00
Time_Orderd                               00:00:00
Time_Order_picked                         00:00:00
Weatherconditions                conditions Cloudy
Road_traffic_density                         High
Vehicle_condition                                0
Type_of_order                              Buffet
Type_of_vehicle                           bicycle
multiple_deliveries                              0
Festival                                      NaN
City                                Metropolitian
Time_taken(min)                           (min) 10
dtype: object

In [39]:
#5
df1['Weatherconditions'].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy',
       'conditions NaN'], dtype=object)

In [40]:
#6
linhas = df1['Weatherconditions'] == 'conditions Sandstorms'
len(df1.loc[linhas, 'Weatherconditions'])

7083