In [1]:
#importar o arquivo
import pandas as pd
import io
arquivo = pd.read_csv(r'/Users/fernanda/Documents/repos/ftc/arquivos_baixados/train.csv')

#transformar o arquivo em um DataFrame
df = pd.DataFrame(arquivo)

#cópia do arquivo original
df1 = df.copy()

#verificando o tipo de variável de cada coluna
df1.dtypes

#####limpeza dos dados####

#Excluindo 'NaN ' da coluna Age:
linhas_selecionadas = df1['Delivery_person_Age'] != 'NaN '
#Localizando as linhas que contém NaN
#df1 = df1.loc[linhas, colunas]
df1 = df1.loc[linhas_selecionadas, :].copy()

#Colunas que estão com type incorreto de acordo com as linhas:
#Delivery_person_Age - conversão de Object(str) para int
#coluna Delivery_person_Ratings - conversão de Object(str) para float
#coluna Order_Date - conversão de Object(str) para data
#coluna multiple_deliveries - conversão de Object(str) para int

#conversões:
#Delivery_person_Age - conversão de Object(str) para int
df1['Delivery_person_Age'] = df1['Delivery_person_Age'].astype(int)

#coluna Delivery_person_Ratings - conversão de Object(str) para float
df1['Delivery_person_Ratings'] = df1['Delivery_person_Ratings'].astype(float)

#coluna Order_Date - conversão de Object(str) para data
df1['Order_Date'] = pd.to_datetime( df1['Order_Date'], format = '%d-%m-%Y' )

###Excluindo 'NaN ' da coluna 'multiple_deliveries':
linhas_selecionadas = df1['multiple_deliveries'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()

###Excluindo 'NaN ' da coluna 'City':
linhas_selecionadas = df1['City'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()

###Excluindo 'NaN ' da coluna 'Road_traffic_density':
linhas_selecionadas = df1['Road_traffic_density'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()

###Excluindo 'NaN ' da coluna 'Weatherconditions':
linhas_selecionadas = df1['Weatherconditions'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()

###Excluindo 'NaN ' da coluna 'Festival':
linhas_selecionadas = df1['Festival'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()

###Excluindo 'NaN ' da coluna 'Delivery_person_Age':
linhas_selecionadas = df1['Delivery_person_Age'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()

#coluna multiple_deliveries - conversão de Object(str) para int
df1['multiple_deliveries'] = df1['multiple_deliveries'].astype(int)

#tirando os espaços das células nas colunas:
df1.loc[:, 'ID'] =  df1.loc[:, 'ID'].str.strip()
df1.loc[:, 'Road_traffic_density'] =  df1.loc[:, 'Road_traffic_density'].str.strip()
df1.loc[:, 'Type_of_order'] =  df1.loc[:, 'Type_of_order'].str.strip()
df1.loc[:, 'Type_of_vehicle'] =  df1.loc[:, 'Type_of_vehicle'].str.strip()
df1.loc[:, 'City'] =  df1.loc[:, 'City'].str.strip()
df1.dtypes

ID                                     object
Delivery_person_ID                     object
Delivery_person_Age                     int64
Delivery_person_Ratings               float64
Restaurant_latitude                   float64
Restaurant_longitude                  float64
Delivery_location_latitude            float64
Delivery_location_longitude           float64
Order_Date                     datetime64[ns]
Time_Orderd                            object
Time_Order_picked                      object
Weatherconditions                      object
Road_traffic_density                   object
Vehicle_condition                       int64
Type_of_order                          object
Type_of_vehicle                        object
multiple_deliveries                     int64
Festival                               object
City                                   object
Time_taken(min)                        object
dtype: object

In [6]:
df1.loc[:, 'Delivery_person_Age'].min()

20

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
8089,0x13a0,JAPRES02DEL01,NaN,NaN,26.914142,75.805704,26.924142,75.815704,07-03-2022,NaN,08:50:00,conditions Sunny,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 18
22192,0x115f,COIMBRES20DEL01,NaN,NaN,10.994136,76.963303,11.004136,76.973303,11-03-2022,NaN,08:30:00,conditions Windy,Low,0,Snack,motorcycle,1,No,Metropolitian,(min) 23
21937,0x6a8,BANGRES07DEL01,NaN,NaN,12.978453,77.643685,13.088453,77.753685,12-03-2022,NaN,22:50:00,conditions Windy,Low,1,Drinks,scooter,1,No,Metropolitian,(min) 13
36857,0x8bf,COIMBRES19DEL01,NaN,NaN,11.022298,76.998349,11.132298,77.108349,10-03-2022,17:35:00,17:50:00,conditions Fog,Medium,1,Meal,motorcycle,0,No,Urban,(min) 30
36854,0x465,CHENRES06DEL02,NaN,NaN,-13.054347,-80.257221,13.104347,80.307221,01-04-2022,NaN,17:50:00,conditions NaN,NaN,3,Meal,electric_scooter,0,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26917,0x6e0,CHENRES06DEL03,15,1,13.054347,80.257221,13.114347,80.317221,01-03-2022,NaN,18:20:00,conditions NaN,NaN,3,Meal,electric_scooter,1,No,Urban,(min) 21
10900,0x1b49,MUMRES14DEL02,15,1,19.181300,72.836191,19.231300,72.886191,30-03-2022,NaN,20:55:00,conditions NaN,NaN,3,Buffet,motorcycle,1,No,Metropolitian,(min) 39
23035,0x415,VADRES17DEL01,15,1,0.000000,0.000000,0.070000,0.070000,29-03-2022,NaN,00:00:00,conditions NaN,NaN,3,Snack,scooter,0,No,Urban,(min) 27
16462,0xe4c,MYSRES05DEL03,15,1,12.323978,76.627961,12.413978,76.717961,27-03-2022,NaN,20:00:00,conditions NaN,NaN,3,Meal,electric_scooter,0,No,Urban,(min) 24
22291,0x3ed,RANCHIRES09DEL01,15,1,-23.351058,-85.325731,23.421058,85.395731,27-03-2022,NaN,21:35:00,conditions NaN,NaN,3,Buffet,electric_scooter,2,Yes,Metropolitian,(min) 44